## Conditional statement

synatx:
--------
if <condition>:
    body
else:
    body
- body of if-else always have 4 spaces/indented
- after colon, body will start

In [2]:
# conditions operators >, <, >=, <=, !=, ==

print("usama" == "usama")
print("usama" == "qasim")
print(18 >= 2)
print(34 <= 34)
print(2 != 2)

True
False
True
True
False

In [11]:
name = "qasim"
if name == "qasim":
    print("tranier")
else:
    print("student")

tranier

In [10]:
# logical operators AND, OR, NOT

# AND OPERATOR
print("usama" == "usama" and "usama" != "qasim") # TRUE AND TRUE => TRUE
print("usama" == "usama" and "usama" == "qasim") # TRUE AND FASLE => FALSE

# OR OPERATOR
print("usama" == "usama" or "usama" != "qasim") # 
print("usama" != "usama" or "usama" == "qasim")

# NOT OPERATOR
print(not True)
print(not False)

True
False
True
False
False
True

In [12]:
name = "qasim"
if name == "qasim":
    print("tranier")
elif name == "Shan":
    print("staff")
else:
    print("student")

tranier

In [17]:
num = int(input("enter any number "))
if num % 2 == 0:
    print(num, " is even number")
else:
    print(num, " is odd number")

enter any number 5
odd number

1. A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [31]:
salary = int(input("enter your salary "))
experience = int(input("enter your experience "))
if experience == 5 and salary == 50000:
    print("you get an increment of ", 0.05 * salary)
else:
    print("no increment")

enter your salary 50000
enter your experience 5
you get an increment of  2500.0

2. Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 18 eligible otherwise not eligible.

In [30]:
age = int(float(input("enter your age ")))
if age >= 18:
    print("you are eligible to vote")
else:
    print("not eligible")

enter your age 18
you are eligible to vote

3. Write a program to display "Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [33]:
number = int(input("enter any number "))
if number % 5 == 0:
    print("Hello")
else:
    print("Bye")

enter any number 3
Bye

4. 
    A school has following rules for grading system:

a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade

In [42]:
marks = int(input("enter your marks "))
if marks < 25:
    print("F")
elif marks >= 25 and marks <= 45:
    print("E")
elif marks >= 45 and marks <= 50:
    print("D")
elif marks >= 50 and marks <= 60:
    print("C")
elif marks >= 60 and marks <=80:
    print("B")
elif marks > 80 and marks <=100:
    print("A")
else:
    print("invalid number")

enter your marks 25
E

##  Nested If-else statements

In [44]:
nationality = input("enter your nationality ")
if nationality.lower() == "pakistani":
    age = int(input("enter your age "))
    if age >= 18:
        print("you are eligible to vote")
    else:
        print("not eligible")
else:
    print("should be Pakistani citizen to cast vote")

enter your nationality us
should be Pakistani citizen to cast vote

In [47]:
age = int(input("enter your age "))
gender = input("enter your gender (F or M) ")
marital_status = input("enter your marital status (Y or N) ")
if gender.upper() == "F":
    print("work in only urban ares")
else:
    if age >= 40 and age <= 60:
        print("can work in urban areas only")
    elif age >= 20 and age < 40:
        print("can work anywhere")
    else:
        print("your are either under age or should get retired")

enter your age 10
enter your gender (F or M) m
enter your marital status (Y or N) n
age should be greater than or equal to 20

## Comments

In [48]:
# this is a single line comment
'''
this is also comment
another comment
'''

'\nthis is also comment\nanother comment\n'

## Lists

In [51]:
# list always starts with [] 
# values can be separated by ,
cities = ["karachi", 'lahore', 'islamabad', 'peshawar']
cities[1]

'lahore'

In [53]:
#          -4          -3            -2           -1
cities = ["karachi", 'lahore', 'islamabad', 'peshawar']
#           0           1           2           3
# list slicing
cities[-1]
cities[1:]
cities[2:3] # last value is exclusive

['lahore', 'islamabad', 'peshawar']

## Lists: Adding and changing elements

In [55]:
cities[0] = "faisalabad"
cities

['faisalabad', 'lahore', 'islamabad', 'peshawar']

In [56]:
cities.append("khanpur")
cities

['faisalabad', 'lahore', 'islamabad', 'peshawar', 'khanpur']

In [58]:
city = 'larkana'
cities = cities + [city]
cities

['faisalabad',
 'lahore',
 'islamabad',
 'peshawar',
 'khanpur',
 'larkana',
 'larkana']

## Deleting and removing elements

In [60]:
del cities[-1]
cities

['faisalabad', 'lahore', 'islamabad', 'peshawar', 'khanpur']

In [64]:
cities.remove("khanpur")
cities

['faisalabad', 'lahore', 'islamabad', 'peshawar']

##  Popping elements

In [66]:
cities.pop()

'peshawar'

In [67]:
cities.pop(1)

'lahore'

In [68]:
cities

['faisalabad', 'islamabad']

In [73]:
task_done = []
task = ['study', 'meeting', 'play']
task_done.append(task.pop())

In [72]:
task_done

['play']

In [74]:
task_done.insert(1,task.pop(1))

In [75]:
task_done

['play', 'meeting']

In [ ]:
.clear
.