## shortuct keys

- ESC + 1, 2, 3(to create headings)
- ESC + M(covert selected cell into markdown)
- ESC + A(create a cell above)
- ESC + B(create a cell below)
- ESC + DD(to delete any selected cell)
- ESC + Y(convert any cell into code)
- SHIFT + ENTER(execute cell and go to new cell)
- CTRl + ENTER(execute but stay in the cell)
- CTRL + SHIFT + H(to get all shortcut keys)

## Recap

In [1]:
print("hello, saylani")

hello, saylani

In [3]:
# Data Types: INTEGER, STRING, FLOAT, BOOLEAN
name = "Usama"
age = 25
weight = 30.5
is_present = True

In [8]:
type(is_present), type(age), type(name)

(bool, int, str)

In [7]:
print((is_present), type(age), type(name))

True <class 'int'> <class 'str'>

## Variable naming

- variable can't have special characters exp underscore(_)
- number cannot be in the start of the variable name.
- already reserved keywords cannot use as a variable.
- name should precise and meaningful.
- variables are case sensitive.

## Arithmatic Operators(familiar operators)

- *, /, +, -

## Arithmatic Operators(familiar operators)

- power(**)
- floor(//), it gives answer in int 
- moduolo(%), it gives remainder

## Operators

In [9]:
age = 20
age = age + 2
age

22

In [10]:
age += 2
age

24

In [11]:
age -= 2
age

22

In [12]:
age *= 2
age

44

##  Math expressions: Eliminating ambiguity

##  Concatenating Text Strings

- string cannot concatenate integers.

In [13]:
print("hello" + " " + "Saylani")

hello Saylani

In [14]:
print("hello", "Saylani")

hello Saylani

In [15]:
"hello", "saylani"

('hello', 'saylani')

In [16]:
"my name is name and my age is age and weight is weight"

'my name is name and my age is age and weight is weight'

In [17]:
"my name is" + name + "and my age is" + age + "and weight is" + weight

TypeError: can only concatenate str (not "int") to str

In [19]:
"my name is " + name + " and my age is " + str(age) + " and weight is " + str(weight)

'my name is Usamaand my age is 44and weight is 30.5'

In [25]:
f"my name is {name}, and my age is {age} and weight is  {weight}"

'my name is Usama, and my age is 44 and weight is  30.5'

In [28]:
f"my name is {name}, and my age is {age} and weight is  {weight}".format(name, age, weight)

'my name is Usama, and my age is 44 and weight is  30.5'

In [29]:
print("sum of 2 plus 2 is ", "4")

sum of 2 plus 2 is  4

## Conditional Statements: if elif else

In [ ]:
synatx: