## Tuples

- start with ()
- tupple is immutable.
- ordered elements.
- multiple data types can be used.

In [6]:
cities = ("Karachi", "lahore", "Islamabad")
cities
print(type(cities))

<class 'tuple'>

In [2]:
first_tupple = (1, "usama", 23.4, True)
first_tupple

(1, 'usama', 23.4, True)

In [3]:
print(type(first_tupple))

<class 'tuple'>

In [5]:
single_tuple = (1,) # to make it tuple use comma like (1,)
print(type(single_tuple))

<class 'tuple'>

### Tupple Slicing

- tuple[start:stop:step]
- start: The index where the slicing starts (inclusive). If omitted, defaults to the beginning of the tuple.
- stop: The index where the slicing stops (exclusive). If omitted, defaults to the end of the tuple.
- step: The step size between elements. If omitted, defaults to 1.

In [8]:
print(cities[0:])

('Karachi', 'lahore', 'Islamabad')

In [19]:
print(cities[:-1])

('Karachi', 'lahore')

In [20]:
print(cities[-1::-1])

('Islamabad', 'lahore', 'Karachi')

In [21]:
import sys

In [22]:
list_1 = ["Karachi", "Lahore", "Islamabad", "Kotri"]
tupple_2 = ("Karachi", "Lahore", "Islamabad", "Kotri")
print(sys.getsizeof(list_1))
print(sys.getsizeof(tupple_2))
# tupple is more faster and efficient

88
72

In [24]:
list_1.count("Karachi")
list_1.index("Karachi")

0

##  Nested Tupple

- [1,2, [1, 2, 3, 4], 3, 4] nested list
- (1,2, (1, 2, 3, 4), 3, 4) nested tupple

In [27]:
nested_tuple = (1,2, (1, 2, 3, 4), 3, 4)
print(nested_tuple[2][3])

4

## Sets

- sets contain unique element
- sets are unordered
- we can not index

In [28]:
first_set = {1, 2, 3, 4, 5, 5} # first method to define
print(first_set)

{1, 2, 3, 4, 5}

In [30]:
# 2nd method
second_set = set([1, 2, 2, 3, 3, 6, 5])
print(second_set)

{1, 2, 3, 5, 6}

In [31]:
second_set[0]

TypeError: 'set' object is not subscriptable

##  For Loops

# syntax 
for variable in iterator:
    code block

In [34]:
for city in cities:
    print(city, end = " ") #by default end = /

Karachi lahore Islamabad

- range
- len

In [35]:
print(len(cities))

3

In [36]:
for i in range(10): # print 0 - 9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
for i in range(2, 10): # print 2 - 9
    print(i)

2
3
4
5
6
7
8
9

In [38]:
for i in range(1, 10, 2): # print 0 - 9
    print(i)

1
3
5
7
9

In [44]:
for i in range(len(list_1)):
    print(i, list_1[i])

0 Karachi
1 Lahore
2 Islamabad
3 Kotri

In [46]:
long_string = "saylani cloud class"
for i in long_string:
    print(i)

s
a
y
l
a
n
i

c
l
o
u
d

c
l
a
s
s

Take 5 input names, store them into a list and print one by one

In [51]:
names = []
for i in range(5):
    name = input("enter your name ")
    names.append(name)
for i in names:
    print(names)

enter your name usama
enter your name qasim
enter your name aqib
enter your name usman
enter your name ali
usama
qasim
aqib
usman
ali

##  Nested Loops

for ...:
    for ...:
        block of code

In [56]:
# elements in nested_list is 3
nested_list = [[1, 2, 3, 4, 4], [3, 4, 5, 6, 8], ["usama", "ali", "usman"]]
for i in nested_list:
    print(i)

[1, 2, 3, 4, 4]
[3, 4, 5, 6, 8]
['usama', 'ali', 'usman']

In [65]:
for i in nested_list:
    print(i)
    for j in i:
        print(j)

[1, 2, 3, 4, 4]
1
2
3
4
4
[3, 4, 5, 6, 8]
3
4
5
6
8
['usama', 'ali', 'usman']
usama
ali
usman

first loop 3 times:
    first iteration
    for j in nested_list:
        this loop will execute 3 times

In [62]:
simple_list = [1, 2, 3]
for i in simple_list:
    print(i)
    for j in simple_list:
        print(i,j)

1
1 1
1 2
1 3
2
2 1
2 2
2 3
3
3 1
3 2
3 3

In [95]:
for i in range(5):
    for j in range(6):
        print("*", end = " ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [96]:
n = 5
for i in range(n):
    for j in range(i, n):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [98]:
n = 5
for i in range(n):
    for j in range(0, i + 1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

## Conditional Statements

- break

In [99]:
for i in range(10):
    print(i)
    if i == 3:
        break

0
1
2
3

- continue

In [101]:
for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [102]:
for i in range(4):
    print(i)
    continue
    print("hello")

0
1
2
3

In [104]:
for i in range(5):
    print(i)
    if i == 3 or i == 4:
        continue
    print("hello")

0
hello
1
hello
2
hello
3
4

## String methods

In [ ]:
nam

In [6]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Tucson",
"Great Falls", "Honolulu"]
city_to_check = input("enter city name to check ")
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")
else:
    print("not found")

enter city name to check asdf
not found

In [8]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ",
"Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        print(a_first_name + " " + a_last_name)
        #full_names.append(a_first_name + " " + a_last_name)
#print(full_names)

BlueRay  Zzz
BlueRay  Burp
BlueRay  Dogbone
BlueRay  Droop
Upchuck  Zzz
Upchuck  Burp
Upchuck  Dogbone
Upchuck  Droop
Lojack  Zzz
Lojack  Burp
Lojack  Dogbone
Lojack  Droop
Gizmo  Zzz
Gizmo  Burp
Gizmo  Dogbone
Gizmo  Droop
Do-Rag  Zzz
Do-Rag  Burp
Do-Rag  Dogbone
Do-Rag  Droop